<header class="containe mt-5 ">
    <a class="navbar-brand fs-4 " routerLink=""> <i class="fa-solid fa-building-columns fa-beat"></i>
        Dhan_Sambath Bank</a>
</header>
<h2 class="text-primary mt-5"> Mini Statement</h2>
<p style="text-align: justify;" class="p-3"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
    itaque quia eveniet, vitae hic inventore
    repellendus aliquid quisquam qui, veritatis doloribus provident ex eligendi repudiandae esse dolorem
    voluptatibus quidem quis.loem Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur temporibus
    expedita consequuntur quaerat eum atque vel officiis iusto, minus nulla labore autem esse non qui ipsam aut
    error eaque voluptates! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente quis
    necessitatibus eos reiciendis doloremque obcaecati minima architecto neque voluptatum quaerat exercitationem
    harum corrupti ullam voluptate facilis, sed, quo possimus modi! </p>



<div class="content border rounded p-3 mt-5">
    <div class="row">
        <div class="col-lg-3">
            <h4 class="text-success text-center">All Transactions</h4>
        </div>
        <!-- search -->
        <div class="col-lg-8">
            <div class="d-flex align-items=center ">
                <label for="Searchtype" class="pe-3"> Search By:</label>
                <input name="search" [(ngModel)]='searchkey' id="Searchtype" type="text" placeholder="Transaction type" class="form-control ms-3"
                    style="max-width:25rem">

            </div>

        </div>
        <!-- export btn -->
        <div class="col-lg-1">
            <input (click)="generatePDF()" type="button" value="Export" class="btn btn-success"> 
        </div>

    </div>
</div>
<!-- table -->
<table id="transactionhistory" class="table border mt-3 text-center">
    <thead>
        <tr class="text-primary">
            <th>Sl No.</th>
            <th>Transaction Type</th>
            <th>From Account</th>
            <th>To Account</th>
            <th>Amount</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of alltransactions | search:searchkey:'transaction_type';let i=index">
            <th>{{i+1}} </th>
            <th>{{transaction.transaction_type}}</th>
            <th> {{transaction.fromAcno}}</th>
            <th> {{transaction.toAcno}}</th>
            <th>{{transaction.amount}}</th>
        </tr>
        <tr *ngIf="(alltransactions | search:searchkey:'transaction_type').length==0 &&  searchkey!='' " class="p-2">
<p class="text-danger fw-bolder">Search not Found !!!</p>
        </tr>
    </tbody>
</table>



<footer class="m-3">
    <app-footer></app-footer>
</footer>